 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family:"lato",sans-serif ;
    font-weight: 400;
    font-size:16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
 }
 .header{
    height: 95vh;
    /* border:2px solid blue; */
    background-image:linear-gradient(to bottom, rgba(144, 238, 144, 0.801),rgba(0, 128, 0, 0.800)), url(./ima/hero.jpg) ;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
    position: relative;
 }
 .header__text-box{
    position: absolute;
    top: 40%;
    left:50%;
    transform:translate(-40% ,-40%);
    text-align: center;
   
 }
 .header__logobox{
   position:absolute;
   top: 40px;
   left:40px;
 }
 .header__logo{
   height: 35px;
   
 }
 .heading{
    color: white;
    text-transform: uppercase;
    margin-bottom: 60px;
    
 }
 .heading-primary{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moleft ;
    animation-duration: 1s;
    animation-timing-function: ease-out;
 }
 .heading-secondary{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.5px;
    animation-name: moright ;
    animation-duration: 1s;
    animation-timing-function: ease-out;
 }

 @keyframes moleft {
    0%{
        opacity: 0;
        transform: translateX(-100px);

    }

    80%{
   transform: translateX(-20);
    }
    
    100%{

        opacity: 1;
        transform: translate(0);
    }
 }
 @keyframes moright {
    0%{
        opacity: 0;
        transform: translateX(100px);

    }

    80%{
  transform: translateX(-100);
    }
    
    100%{

        opacity: 1;
        transform: translate(0);
    }
 }
 @keyframes mobottom {
    0%{
        opacity: 0;
        transform: translatey(100px);

    }

    
    100%{

        opacity: 1;
        transform: translate(0);
    }
 }

 .btn:link,.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s ;
    position: relative;

 }
.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
 .btn--white{
    background-color: white;
    color: #777;

 }

 .btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
 }
 .btn-white::after{
    background-color: white;
 }
 .btn:hover::after{
    transform: scaleX(1) scaleY(1.6);
    opacity: 0;
 }
 .btn--animated{
    animation: mobottom .5s ease-out .75s;
    animation-fill-mode: backwards;
 }
 .section-about{
   /* border: 2px solid red;  */
   background-color:#f7f7f7; 
   padding:10rem 0  ;
  /* margin-top:-20vh; this comes by subracting 95-75 and we are using this because if we dont use there will be more space in the diagram*/
   position: relative;  
}
.heading-secondar{
   /*font-size:rem;*/
   text-transform: uppercase;
   font-weight: 700px;
   background-image: linear-gradient(to right,#7ed56f,#55c57a);/*this is used to style the element*/
   display: inline-block;
   -webkit-background-clip:text;/*if we doesnt use this trhen we cannot see the text and the color we used to display the text*/
   color: transparent;/*this is used to see the text in green color if we doesnt use this we cansee only the black color text i.e normal text)*/
   letter-spacing: .2rem;
   transition: all .2s;
}
.heading-secondar:hover{
   transform: skewY(2deg) skewX(15deg) scale(1.1);
   text-shadow: .5rem 1rem 2rem rgba(black,.2);
}
.u-center-text{
   text-align: center;
   margin-bottom: 8rem;

}
.row-flex-container{

   background-color:#f7f7f7; 
   display: flex;
   position:absolute;
  /* text-align: center;*/
}

.flex-item-left-col-1-2{
   flex:20%;
}
.flex-item-right-col-1-2{
   flex:20%;
   /* position: relative; */
}
.heading-tertiary{
   font-size: 1.6rem;
   font-weight: 100px;
   text-transform: uppercase;
   margin-bottom: 2rem;
}

.paragraph{
   font-size: 1.6rem;
} 
.paragraph:not(:last-child){
   margin-bottom: 3rem;
}

.btn-text:link,:visited{
   font-size: 1.6rem;
   color:#7ed56f;
   display: inline-block;
   text-decoration: none;
   border-bottom:1px solid #7ed56f;
   padding: 3px;
   transition: all .2s;
   
}
.btn-text:hover{
   background-color:#7ed56f ;
   color: white;
   box-shadow: 0 1rem 2rem rgba(black,.15);
   transform: translateY(-4px);
}

.btn-text:active{
   box-shadow: 0 .5rem 1rem rgba(black,.15);
   transform: translateY(0);
}
.composition{
   position: relative;
   z-index: 20;
   /* outline-offset:2rem solid green; */
   transition: all .2s;
   /* outline-offset:2rem; */
   /* display:inline-block; */
   
   /* background-color: green; */
}
.composition-photo1{
   position: absolute; 
   left: 50px;
   box-shadow: 0 1.5rem 4rem rgba(black,.4);
   
   /* border: 2px solid red;*/
} 
.composition-photo2{
   position: absolute; 
   top:50px;
   left: 15rem;
   /* border: 2px solid blue; */
}
.composition-photo3{
   position: absolute; 
   left: 10rem;
   top: 150px;
   /* border: 2px solid yellow; */
}
.composition-photo1:hover{
    outline: 1rem solid green; 
   transform: scale(1.05) translateY(-.5rem);
   box-shadow: 0 2.5rem 4rem rgba(black,.5);
   z-index: 20;
}
.composition-photo2:hover{
   transform: scale(1.05) translateY(-.5rem);
   box-shadow: 0 2.5rem 4rem rgba(black,.5);
   z-index: 20;
   outline: 1rem solid green; 
}
.composition-photo3:hover{
   transform: scale(1.05) translateY(-.5rem);
   box-shadow: 0 2.5rem 4rem rgba(black,.5);
    z-index: 20; /*to overlap the images we are using */
   outline:1rem solid green ; 
}
.composition:hover .composition:not(:hover){
   transform: scale(.9);
}

/* .section-tour{
   background-color: #f7f7f7;
   padding: 25rem 0 50rem 0;
}
.card{
    perspective: 150rem; /*we are giving this because of the rotation perspective is used for the parent and the child 
   -ms-perspective: 150rem;
   border-radius: 3px;
   box-shadow: 0 1.5rem 4rem rgba(black,.15);
   
}
.card:hover{
   transform: rotateY(180deg);
   position: relative;
   height: 50rem;
}

.cardchild-f{
   background-color: white;
   height: 50rem;
   transition: all .8s ease;
   position: absolute;
   top: 0;
   left:0;
   width: 100%;
    backface-visibility: hidden;/*it basically hides the back part of an element 
}
.cardchild-f:hover{
   transform: rotateY(-180deg);
}
.cardchild-b{
   height: 50rem;
   transition: all .8s;
   transform: rotateY(180deg);
}
.cardchild-b:hover{
   transform: rotateY(0deg);
   background-image: linear-gradient(to right bottom,rgb(187, 255, 0),orange);
} */

.section-storey{
 padding: 50rem 0;
 background-color: #f7f7f7;
}
.heading-secondar{
   /*font-size:rem;*/
   text-transform: uppercase;
   font-weight: 700px;
   background-image: linear-gradient(to right,#7ed56f,#55c57a);/*this is used to style the element*/
   display: inline-block;
   -webkit-background-clip:text;/*if we doesnt use this trhen we cannot see the text and the color we used to display the text*/
   color: transparent;/*this is used to see the text in green color if we doesnt use this we cansee only the black color text i.e normal text)*/
   letter-spacing: .2rem;
   transition: all .2s;
}
.heading-secondar:hover{
   transform: skewY(2deg) skewX(15deg) scale(1.1);
   text-shadow: .5rem 1rem 2rem rgba(black,.2);
}
.u-center-text{
   text-align: center;
   margin-bottom: 8rem;

}

.storey-text{
   width: 75%;
   margin: 0 auto;
   box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.185);
   background-color: white;
   border-radius:3px;
   padding:6rem;
   padding-left: 9rem;
   font-size: 1.6rem;
   /* transform: skewX(12deg); */
   
}
.storey-shape{
 
   width: 15rem;
   height: 15rem;
   margin-top:70px;
   margin-left: 30px;
   float: left;
   /* background-color: orangered; */
   shape-outside: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
   /* transform: translateX(rem); */
   
}
.strim{
height: 100%;
}