div{
    height: 100vh;
    background-image:linear-gradient(to right ,rgba(255, 38, 0, 0.288),rgba(0, 0, 255, 0.445)),
    url(rose.jpg);
    background-size: cover;
    background-position: top;
    /* clip-path: polygon( 80, 0px 80px, 80px 0px, 0px 0px); */
    clip-path:(50% 0, 100% 50% ,50% 100%, 0 50%);

 
    

}
*{
    margin: 0;
}
    

h1{
    /*color:white;*/
}