div{
    height: 500px;
    width: 500px;
    background-color: blue;
    display: inline-block;
    border: 2px solid black;
}
#d1{
    position: static;
}
#d2{
    position: relative;
    top: 20px;
    left: 10px;
}
#d3{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: green;
}
#d3{
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: green;
}

